<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>PlanMeter</string>
    <key>CFBundleExecutable</key>
    <string>PlanMeter</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.neilgoldader.planmeter</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PlanMeter</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.1</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Neil Goldader. MIT License.</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUFeedURL</key>
    <string>https://github.com/avatarneil/planmeter/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>KaqKSZ4tYwI5izTZ9PaHHE3JRb4fqgNU7Noz2rhqVu8=</string>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.neilgoldader.planmeter.desktop</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>planmeter-desktop</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
